name: Lint and Test
on:
  workflow_call:
    secrets:
      CODECOV_TOKEN:

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - run: go mod download
      - name: Check generated files
        run: |
          go generate ./...
          git diff --exit-code || (echo "Error: Generated files are out of date. Run 'go generate ./...' and commit changes." && exit 1)
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.4.0
          args: cmd/... pkg/...
      - name: go test
        run: go test -coverprofile=coverage.out ./pkg/...
      - name: Upload to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: coverage.out
          token: ${{ secrets.CODECOV_TOKEN }}
